* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('Setting-background.png') no-repeat center center/cover;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 60px;
}

.menu-item {
  background: rgba(255, 255, 255, 0.678);
  padding: 15px;
  border-radius: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.4);
}
